
.login-home {
    position: relative;
    border: 1px solid red;

}
.modal-opener-container {
    text-align: center;
}
.modal-opener {
    background-color: blue;
    color: white;
    height: 50px;
    width: 75px;
}
input[type=text], input[type=password] {
    display: block;
    padding: 10px;
    margin: 10px;
}
.hide-it {
    display: none;
}

.display-it {
    display: block;
    z-index: -1; /* Sit on top */
    background-color: yellowgreen;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */


}